.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 14px;
  min-width: 160px;
  height: 60px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: var(--border);
  border-radius: var(--border-radius-xxs);

  @include hover {
    color: var(--color-white);
    background-color: var(--color-red);
  }

  &--accent {
    color: var(--color-black);
    background-color: var(--color-accent);

    //@include hover {
    //  color: var(--color-white);
    //  background-color: var(--color-red);
    //}
  }
}
