.button {
  display: inline-flex;
  align-items: center;
  column-gap: 14px;
  padding: 18px 36px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);
  background-color: var(--color-black);
  border: var(--border);
  border-radius: var(--border-radius-xxs);

  @include hover {
    background-color: var(--color-red);
  }
}
