.daily-recipe-card {
  &__image-wrapper {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__favorite {
    @include square(48px);

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: var(--color-white);
    border-radius: 50%;
  }

  &__image {
    width: 100%;
    border-radius: var(--border-radius-xs);
  }

  &__title {
    font-size: 18px;
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: 24px;

      @include tablet {
        margin-bottom: 16px;
      }
    }
  }

  &__tags {
    .tags__list {
      column-gap: 24px;
    }

    .tags__item {
      padding: 0;
      background-color: transparent;
    }
  }
}