.menu {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 60px;

    @include tablet {
      column-gap: 30px;
    }
  }

  &__link {
    position: relative;

    &::before {
      @include abs-center;

      content: '';
      width: calc(100% + 32px);
      height: 44px;
    }
  }
}
