.tags {
  &__list {
    display: flex;
    column-gap: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 8px fluid(16, 14);
    background-color: var(--color-black-50);
    border-radius: var(--border-radius-m);
  }

  &__label {
    color: var(--color-black-600);
  }
}