.hero-card {
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius-l);
  overflow: hidden;

  &__body {
    background-color: var(--color-accent);
    padding: 50px;
  }

  &__category {
    display: inline-flex;
    column-gap: 12px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--color-white);
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow);

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__tags {
    &-list {
      display: flex;
      column-gap: 16px;
    }

    &-item {
      display: flex;
      align-items: center;
      column-gap: 10px;
      padding: 8px 16px;
      background-color: var(--color-black-50);
      border-radius: var(--border-radius-m);
    }

    &-label {
      color: var(--color-black-600);
    }
  }
}
