.hero-card {
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius-l);
  overflow: hidden;

  &__body {
    background-color: var(--color-accent);
    padding: 50px;
  }

  &__category {
    display: inline-flex;
    column-gap: 12px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--color-white);
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow);

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
