.hero-card {
  position: relative;
  display: flex;
  justify-content: space-between;

  @include laptop-s {
    flex-direction: column-reverse;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: fluid(40, 30);
    padding: fluid(50, 20);
    background-color: var(--color-accent);
  }

  &__image {
    object-fit: cover;

    @include laptop-s {
      width: 100%;
      height: fluid(500, 200);
    }
  }

  &__category {
    display: inline-flex;
    column-gap: 12px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--color-white);
    border-radius: var(--border-radius-m);
    box-shadow: var(--box-shadow);

    &:not(:last-child) {
      margin-bottom: 32px;

      @include mobile {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;

      @include mobile {
        margin-bottom: 16px;
      }
    }
  }

  &__description {
    &:not(:last-child) {
      margin-bottom: 30px;

      @include mobile {
        margin-bottom: 20px;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile-s {
      flex-direction: column;
      align-items: start;
      row-gap: 20px;
    }
  }

  &__button {
    padding-inline: 36px;
  }

  &__badge {
    position: absolute;
    left: 50%;
    top: 50px;
    translate: -50% 0;

    @include laptop-s {
      width: 120px;
      top: 45%;
      left: calc(100% - 100px);
      translate: -50% 0;
    }

    @include mobile {
      width: 100px;
      top: 35%;
      left: calc(100% - 74px);
    }

    @include mobile-s {
      top: 20%;
    }
  }
}
