.section {
  display: grid;
  row-gap: fluid(80, 40);
  padding-block: var(--section-padding-y);

  &__header {
    display: flex;
    align-items: center;

    &--mode-justify-between {
      justify-content: space-between;
      column-gap: 16px;

      @include mobile {
        display: contents;
      }
    }

    &--mode-vertical {
      flex-direction: column;
      row-gap: 24px;

      .section__description {
        text-align: center;
      }
    }
  }

  &__link {
    font-size: 16px !important;

    @include mobile {
      order: 1;
      width: 100%;
    }
  }
}
