.hero {
  max-width: 1920px;
  margin-inline: auto;
  padding-block: fluid(50, 20);

  @include laptop {
    padding-inline: var(--container-padding-x);
  }

  &__slider-item {
    max-width: var(--container-width);
    border-radius: var(--border-radius-l);
    overflow: hidden;

    @include mobile {
      border-radius: var(--border-radius);
    }
  }
}
