:root {
  --color-white: #fff;
  --color-black: #000;

  --color-black-50: rgb(0 0 0 / 0.05);
  --color-black-100: rgb(0 0 0 / 0.1);
  --color-black-600: rgb(0 0 0 / 0.6);

  --color-gray: #dbe2e5;

  --color-accent: #e7fafe;
  --color-accent-alt: #e7f9fd;

  --color-red: #ff6363;
  --color-red-alt: #ff7967;

  --box-shadow: 10px 20px 40px rgb(41 64 70 / 0.1);

  --gradient: linear-gradient(180deg, rgb(231 249 253 / 0) 0%, var(--color-accent-alt) 100%);

  --border: 1px solid var(--color-black-100);

  --border-radius-l: 60px;
  --border-radius-m: 30px;
  --border-radius: 24px;
  --border-radius-xs: 20px;
  --border-radius-xxs: 16px;

  --font-family-base: 'Inter';
  --font-family-accent: 'Lobster';
  --font-family-copyright: 'Eudoxus Sans';

  --container-width: #{$container-desktop-width}px;
  --container-padding-x: 16px;

  --transition-duration: 0.2s;

  --layer-mobile-menu: 100;
}
