.soc1als {
  &__list {
    display: flex;
    align-items: center;
    column-gap: 40px;

    @include tablet {
      column-gap: 20px;
    }
  }

  &__item {
    display: flex;
  }

  &__link {
    position: relative;

    &::before {
      content: '';

      @include abs-center;
      @include square(44px);
    }
  }
}